{% extends 'base.html' %}

{% block content %}
    <header class="row">
        <input id="item-input" data-herf="{{ url_for('app.new_item') }}" type="text"
                placeholder="新建待办事项" autocomplete="off" autofocus required>
    </header>
    <div class="row" id="dashboard">
        <div class="col l9 m12 s12">
            <ul class="tabs">
                <li class="tab col m4 s12">
                    <a class="blue-text button" id="all-item">All
                        <span class="grey-text small-text" id="all_count">{{ all_count }}</span>
                    </a>
                </li>                <li class="tab col m4 s12">
                    <a class="blue-text button" id="active-item">Active
                        <span class="grey-text small-text" id="active_count">{{ active_count }}</span>
                    </a>
                </li>                <li class="tab col m4 s12">
                    <a class="blue-text button" id="completed-item">Done
                        <span class="grey-text small-text" id="completed_count">{{ completed_count }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col l3 hide-on-med-and-down">
            <a class="waves-effect waves-light btn red right" id="clear-btn">
                <i class="material-icons left">clear_all</i>Clear
            </a>
        </div>
    </div>

    <div class="items">
        {% for item in items %}
            {% include '_item.html' %}
        {% endfor %}
    </div>
{% endblock %}